
/*Background Color Styling*/

body {
  background-color: white;
}

.hero {
  background-color: white;
  height: 100vh;
}

#about {
  background-color: white;
}

#education {
  background-color: white;
}


hr {
  border: .25em solid #97ABB1;
  border-radius: 2px;
}



/*Selfie styling - swap on hover */


/* Make the container relative */
.swap-on-hover {
  position: relative;
	margin:  0 auto;
  max-height: 340px;
  max-width: 255px;
  padding-left: 40px;
  padding-top: 20px;
}

/* Select the image and make it absolute to the container */
.swap-on-hover img {
  position: absolute;
  /* top:0; */
  /* left:0; */
  border-radius: 70px;
	overflow: hidden;
	/* Sets the width and height for the images*/
  max-height: 240px;
  max-width: 255px;
}

/*
	We set z-index to be higher than the back image, so it's alwyas on the front.
We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect.
*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}

/*Header/Bullets Section*/

h1 {

  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 4em;
  /* text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15); */
  padding-bottom: 20px;
  padding-top: 70px;
}

ul {
  list-style: none;
}


li {
  font-family: Merriweather, sans-serif;
  color: #2b2b2b;
  font-size: 1.5em;
  margin-top: 15px;

}

.bullets .fas {
  padding-right: 20px;
  color: #1E5999;
  margin-left: 30px;
  margin-top: 18px;
  font-size: 1.2em;
}

.social {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.social .fab, .social .fas {
  color: #1E5999;
  display: inline-block;
  margin-left: 30px;
  margin-top: 18px;
  font-size: 5em;
}

.social .fab:hover, .social .fas:hover {
    opacity: 0.7;
    color: #3C84CC;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    display:  inline-block;
}

/*About*/
h2 {
  font-family: 'Raleway', sans;
  text-align: center;
  font-weight: 600;
}

p {
  font-family: Merriweather;
  font-size: 1em;
}

.work_images:first-child {
  margin-top:75px;
}

.work_images {
  max-height: 200px;
  max-width: 200px;
  margin-left: 10px;
  margin-top:60px;
}

/*Education*/

.yale {
  max-height: 200px;
  max-width: 200px;
  /*border-radius: 30px;*/
  margin-top: 100px;
}


/*Footer*/
#footer {
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.75em;
}

/*Mobile Styling*/
  @media (max-width: 1000px) {
    h1 {
      font-size: 4em;
    }

    .selfie {
        display: none;
        }

    .bullets {
      display: none;
        }

    .social {
      font-size: 1.2em;
      text-align: center;
    }

    .work_images {
      display: none;
    }

    .yale {
      display: none;
    }

  }

/* Colors:
Dark blue: #1E5999
Medium Blue: #3E9FE0
Light Blue: #8fbfe0
Grey: #97ABB1

*/
